<section class="about">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-4">
        <img src="../../assets/images/about-main-new.jpg" alt="Snow" class="img-fluid img-thumbnail">
      </div>
      <div class="col-lg-8">
        <h3>Legato Health Technologies</h3>
        <p>
          Legato Health Technologies is committed to transforming health care through operational excellence. We are developing the
          technology, solutions and programs that give consumers greater access to care, while working with providers to
          ensure a quality health care experience for consumers.
        </p>
        <p>
          Established in November 2017, Legato is an independent services provider to the Anthem companies with the purpose of leveraging
          global scale and executional expertise to transform health care as a GIC (Global Inhouse Center).
        </p>
        <p>
          Our services include:
        </p>
        <ul>
          <li>Enrollment and Billing</li>
          <li>Commercial Claims</li>
          <li>Enterprise Benefits Administration</li>
          <li>IT Application Development</li>
          <li>Call Center</li>
          <li>Clinical</li>
          <li>Applied Health IT</li>
        </ul>
        <p>
          We are currently located in India and the Philippines. Our India offices are in North Bangalore and Hyderabad. Our Philippines office is in Bonifacio Global City in Manila. Be sure to visit our country-specific pages for more information.
        </p>
        <p>
          Our state-of-the-art offices are designed to encourage and facilitate collaboration and co-creation.
        </p>
      </div>
    </div>
  </div>
</section>