<div class="row pt-3">
  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
          <img class="pic-1" src="../assets/images/products/angular.png">
          <img class="pic-2" src="../assets/images/products/node.png">
        </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
        <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
            <img class="pic-1" src="../assets/images/products/angular.png">
            <img class="pic-2" src="../assets/images/products/node.png">
          </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->

  <!-- begining of product column -->
  <div class="col-12 col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="product-grid">
      <div class="product-image">
        <a href="#">
              <img class="pic-1" src="../assets/images/products/angular.png">
              <img class="pic-2" src="../assets/images/products/node.png">
            </a>
        <ul class="social">
          <li><a href="" data-tip="Read more"><i class="fa fa-link"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
            <span class="product-discount-label">20%</span> -->
      </div>
      <div class="product-content">
        <h3 class="title"><a href="#">Angular</a></h3>
        <div class="price">$16.00
          <span>$20.00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of product column -->
</div>