<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Oops!</h1>
          <h2>
            404 Not Found</h2>
          <div class="error-details">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <a href="/home" class="btn btn-primary"><span class="fa fa-home"></span> Go back to home</a>
            <a href="/contact" class="btn btn-default"><span class="fa fa-envelope"></span> Contact Support</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>