.jumbotron {
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.h1 small {
    font-size: 24px;
}

.feedback-container {
    padding: 1rem 1rem 0 1rem;
}

.feedback-container p{
    margin: 0px !important;
}