<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>The world’s largest of select of course</h2>
        <p>Choose from over 100,000 online video courses with new additions published every month. Access anywhere from the
          globe without any limitation.</p>
      </div>
      <!-- <div class="col-sm-3">
      </div> -->
      <div class="col-sm-4 ml-auto">
        <h2>We provide 1000+ courses.</h2>
        <p>Search any course from anywhere in the globe.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto py-3">
        <form class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search for course">
            <a class="search_icon" role="button"><i class="fa fa-search"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>